include README*
include mlmodels/*
recursive-include mlmodels/*.json
recursive-include mlmodels/*.md
recursive-include mlmodels/config/*
recursive-include mlmodels/dataset/*
recursive-include mlmodels/example/*
recursive-include mlmodels/template/*
recursive-include mlmodels/utils/*
recursive-include mlmodels/utils/*include versioneer.py
include mlmodels/_version.py
include versioneer.py
